footer {
	#footer_body{padding: 10px 0;}
	
	.copyright {
		padding: 5px;
		text-transform: lowercase;
		line-height: 15px;
		font: 12px/40px @font-family-sans-serif;
	}

	ul {
		list-style-type: none;
		padding: 0;
		margin: 0;

		li {
			border-top: 1px solid rgba(255,255,255,0.1);

			&:first-child {
				border: 0;
			}
		}
	}
	.social-icons {
		float: right;
	}
}