body {
	overflow-y: scroll;
}

hr {
	&.soften {
		.gradient-three-color-horizontal(rgba(0,0,0,0), rgba(0,0,0,.2), rgba(0,0,0,0));
		height: 1px;
		margin: 70px 0;
		border: 0;
	}
}

article {
	padding: 10px 0;
	&.excerpt {
		border-bottom: 1px solid rgba(0,0,0,0.2);
		&:last-of-type {
			border-bottom: 0;
		}
	}
	.title {
		margin-top: 0;
	}
}
aside {
	[class*='sidebar-'] {
		ul {
			list-style-type: none;
			padding: 0;
		}
		li {
			border-bottom: 1px solid rgba(0,0,0,0.2);
			&:last-child {
				border-bottom: 0;
			}
			a {
				display: block;
				padding: 10px;
				&:hover {
					background: @blue;
					color: @white;
					text-decoration: none;
				}
			}
		}
	}
}

/////////////////
//  SIDEMENUS  //
/////////////////
.sidenav {
	ul {
		margin: 15px 0;
		padding: 0;
		background-color: @white;
		list-style: none;
	}
	li {
		display: none;
		&:first-child a {
			.border-radiuses(5px, 0, 0, 5px);
		}
		&:last-child a {
			.border-radiuses(0, 5px, 5px, 0);
		}
		&.current-menu-item a, &.current-menu-item a:hover {
			background: @black-lighter;
			color: @white;
			position: relative;
			z-index: 2;
			padding: 9px 15px;
			border: 0;
		}
		a {
			text-decoration: none;
			display: block;
			margin: 0 0 -1px;
			padding: 8px 14px;
			border: 1px solid @gray;

			&:hover {
				background-color: @gray;
			}
			&:after {
				font-family: @icon-font;
				content: '\f138';
				float: right;
				color: rgba(0,0,0,0.2);
			}
		}
	}
	.current-menu-parent {
		> a {display: none;}
		> ul {margin: 0;}
		&, li {display: block;}
	}
	
	&.affix {
		top: 40px;
	}
	&.affix-bottom {
		position: absolute;
		top: auto;
		bottom: 270px;
	}
}

/////////////
//  FORMS  //
/////////////
.gform_wrapper { 
	ul {
		list-style: none; 
		margin: 0;
		padding: 0;
	}
	li {
		.clearfix();
		margin-bottom: 10px;
	}
	.gfield_required {
		color: @brand-danger;
		padding-left: 1px;
	}
	.validation_message { 
		display: none; 
	}
	form { 
		margin-bottom: 0; 
	}
	.gfield_error label {
		color: @brand-warning;
	}
	.gform_button {
		.btn;
		.btn-primary;
		.btn-lg;
	}
}
.gfield_radio, .gfield_checkbox {
	input {
		vertical-align: 0;
	}
	label {
		display: inline-block;
		margin-left: 8px;
	}
}
.gfield_label {
	cursor: pointer;
}
.ginput_container {
	input, textarea {
		display: block;
		width: 100%;
	}
	.ginput_full {
		width: 100%;
	}
	label {
		font: italic 12px/16px @font-family-sans-serif;
		text-transform: lowercase;
	}
	.ginput_left, .ginput_right {
		width: 48%;
	}
	.ginput_left {
		float: left;
	}
	.ginput_right {
		float: right;
	}
}

////////////////
//  IE FIXES  //
////////////////
.lt-ie9-show {
	display: none;
}
.lt-ie9-hide {
	display: inherit;
}
.lt-ie9 {
	.lt-ie9-show {
		display: inherit;
	}
	.lt-ie9-hide {
		display: none;
	}
}