body {
	overflow-y: scroll;
}

img {
	max-width: 100%;
}

#page-body {
	padding-top: @navbar-height;
}

a {
	.transition(all 0.2s ease);
	&:hover {
		text-decoration: none;
	}
}

article {
	padding: 10px 0;
	&.excerpt {
		border-bottom: 1px solid rgba(0,0,0,0.2);
		&:last-of-type {
			border-bottom: 0;
		}
	}
	.title {
		margin-top: 0;
	}
}

aside {
	[class*='sidebar-'] {
		ul {
			list-style-type: none;
			padding: 0;
		}
		li {
			border-bottom: 1px solid rgba(0,0,0,0.2);
			&:last-child {
				border-bottom: 0;
			}
			a {
				display: block;
				padding: 10px;
				&:hover {
					background: @blue;
					color: @white;
					text-decoration: none;
				}
			}
		}
	}
}

/////////////
//  MODAL  //
/////////////
body.modal-open {
	margin-right: 0;
}
.modal {
	overflow: hidden;
}

/////////////////
//  SIDEMENUS  //
/////////////////
.sidenav {
	ul {
		padding: 0;
		list-style: none;
	}
	li {
		display: none;
	}
	.current-menu-parent, .current-menu-item {
		&, li, a {display: block;}
		a {
			font-size: @font-size-h4;
			padding: 10px 15px;
		}
	}
	.current-menu-item {
		> a {
			color: @link-hover-color;
		}
	}
}

////////////////
//  IE FIXES  //
////////////////
.lt-ie9-show {
	display: none;
}
.lt-ie9-hide {
	display: inherit;
}
.lt-ie9 {
	.lt-ie9-show {
		display: inherit;
	}
	.lt-ie9-hide {
		display: none;
	}
}