/**
 * Accordion
 */
.panel-group {
	margin-bottom: 5px;
	.panel-title {
		a {
			display: block;

			text-decoration: none;

			color: $text-color;

			&:before {
				margin-right: 10px;

				content: '\f106';

				font-family: $icon-font-name;
			}
			&.collapsed {
				&:before {
					content: '\f107';
				}
			}
		}
	}
}
