/**
 * Checklist
 */

.checklist {
	ul,
	ol {
		list-style-type: none;
	}
	li {
		position: relative;
		&:before {
			position: absolute;
			left: -40px;

			width: 40px;

			content: '\f00c';
			text-align: center;

			color: $brand-success;

			font-family: $icon-font-name;
		}
	}
}
