/**
 * Featured Tiles
 */

.featured-tile {
	position: relative;

	overflow: hidden;

	margin: 0 0 15px 0;

	font-size: 14px;
	line-height: 20px;

	&:before {
		display: block;

		padding-top: 70%;

		content: '';
	}

	.featured-tile-link {
		position: absolute;
		top: 0;
		left: 0;

		display: block;

		width: 100%;
		height: 100%;
	}
	.featured-tile-image,
	.featured-tile-desription {
		@include transition(all 0.2s ease-in-out);

		position: absolute;
		top: 50%;

		width: 100%;
	}
	.featured-tile-image {
		@include transform(translate3d(0, -50%, 0));

		z-index: 10;
	}
	.featured-tile-desription {
		@include transform(translateY(-50%));

		display: none;

		z-index: 0;

		padding: 0 15px;

		p,
		h3 {
			color: $text-color;
		}
	}

	@media (min-width: $screen-md) {
		background: $brand-info;

		&:hover {
			.featured-tile-image {
				@include transform(translate3d(0, -150%, 0));
			}
		}

		.featured-tile-desription {
			display: block;
		}
	}
}
