/**
 * Social Icons
 */

.social-icons {
	text-align: center;

	font: 20px/30px $icon-font-name;
	a {
		margin: 0 5px;

		color: $gray;

		&:hover {
			text-decoration: none;

			color: $gray-dark;
		}
	}
}
