/**
 * Footer
 */

footer {
	h4 {
		font-weight: 700;
	}
	.footer-nav {
		&, ul {
			list-style-type: none;
			padding: 0;
		}
		> li {
			@extend .col-md-4;

			> a {
				display: block;
				margin: 10px 0;
				font-size: 18px;
				font-weight: 700;
				line-height: $headings-line-height
			}
		}
	}
	li {
		a {
			line-height: 30px;
			text-transform: lowercase;

			&, &:hover {
				color: $text-color;
			}
		}
	}
	.container {
		background: $brand-primary;
		position: relative;
	}
	.bg-danger, .bg-warning {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.bg-danger {
		background: $brand-danger;

		&, h4, a, a:hover {
			color: $body-bg;
		}
		a {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			display: block;
			width: 100%;
		}
	}
	.bg-warning {
		position: relative;
		background: $brand-warning;

		h4 {
			color: $text-color;
		}
	}
	.footer-bottom {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;

		.row {
			margin: 0 15px;
			padding-top: 5px;
			padding-bottom: 5px;
			background: $brand-info;
			color: $body-bg;
			font-weight: 700;
			font-size: 20px;
			text-transform: lowercase;
			
		}
	}
	@media (min-width: $screen-md) {
		.bg-danger, .bg-warning {
			padding-top: 0;
			padding-bottom: 0;
		}
		.footer-cols {
			.row {
				> div {
					height: 240px;
					padding-bottom: 38px;
				}
			}
		}
	}
}