/**
 * Footer
 */

footer {
	h4 {
		font-weight: 700;
	}
	.footer-nav {
		&, ul {
			list-style-type: none;
			padding: 0;
		}
		> li {
			@extend .col-md-4;

			> a {
				display: block;
				margin: 10px 0;
				font-size: 18px;
				font-weight: 700;
				line-height: $headings-line-height
			}
		}
	}
	li {
		a {
			color: $text-color;
			line-height: 30px;
			text-transform: lowercase;
		}
	}
	.container {
		background: $brand-primary;
		position: relative;
	}
	.bg-danger {
		background: $brand-danger;
		color: $body-bg;
		&, a {
			color: $body-bg;
		}
		a {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			display: block;
			width: 100%;
		}
	}
	.bg-warning {
		background: $brand-warning;
	}
	.footer-cols {
		.row {
			> div {
				height: 240px;
				padding-bottom: 38px;
			}
		}
	}
	.footer-bottom {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;

		.row {
			margin: 0 15px;
			padding-top: 5px;
			padding-bottom: 5px;
			background: $brand-info;
			color: $body-bg;
			font-weight: 700;
			font-size: 20px;
			text-transform: lowercase;
			
		}
	}
}