/**
 * jPlayer
 */
$jp-height: 70px;

.jp-container {

	ul {
		list-style-type: none;
	}
	.jp-primary-controls, .jp-main-content, .jp-meta {
		height: $jp-height;
		overflow: hidden;
	}
	.jp-meta {
		background: $brand-primary;
		padding: 2px;
		height: auto;
	}
	.jp-history {
		padding: 10px 5px;
		font-size: 1.25em;
		text-align: center;
		text-transform: uppercase;

		a {
			width: 40%;
			color: $body-bg;
			display: inline-block;
		}
	}
	
	.jp-primary-controls {
		background: $brand-danger;
		position: relative;
		padding-top: 10px;
		padding-bottom: 10px;

		&, a {
			color: $body-bg;
		}
		.jp-control-title {
			font-size: 1.25em;
			font-weight: 700;
		}
	}

	.jp-main-content {
		padding: 0;
	}
	.jp-main-content-text {
		padding: 5px 15px;

		h3 {
			color: $brand-danger;
			font-weight: 600;
			line-height: 35px;
		}
		h3, p {
			width: 100%;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			display: block;
			margin: 0;
		}
	}
	.jp-progress {
		width: 100%;
		position: absolute;
		bottom: 0;
		height: 3px;
		background: $brand-primary;
	}
	.jp-seek-bar {
		&:hover {
			cursor: pointer;
		}
		.jp-play-bar {
			background: $brand-danger;
			height: 3px;
			position: relative;
		}
	}

	&.jp-playing {
		.jp-play-bar {
			border-right: 3px solid $body-bg;
		}
		.jp-pause {
			@include transform(translateX(-50%) scale3d(1, 1, 1));
			opacity: 1;
		}
		.jp-play {
			@include transform(translateX(-50%) scale3d(0, 0, 1));
			opacity: 0;
		}
	}
	.jp-play, .jp-pause {
		@include transition(all 0.2s ease-in-out);
		display: block !important;
		position: absolute;
		left: 50%;
		top: 3px;
	}
	.jp-play {
		@include transform(translateX(-50%) scale3d(1, 1, 1));
		opacity: 1;
	}
	.jp-pause {
		@include transform(translateX(-50%) scale3d(0, 0, 1));
		opacity: 0;
	}

	@media (min-width: $screen-sm) {
		.jp-meta {
			height: $jp-height;
		}
		.jp-history {
			width: 50%;
			text-align: right;
			float: left;
			a {
				width: 100%;
			}
		}
		.jp-thumbnail {
			@include transform(translateY(-50%));
			position: absolute;
			top: 50%;
			right: 2px;
			max-width: 50%;
			max-height: 66px;
		}
	}
}