/**
 * Jumbotron
 */
.jumbotron {
	@include transform(translateZ(0));

	padding-top: ($navbar-height + 20);

	text-align: center;

	background-image: url(../img/jumbotron.jpg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	text-shadow: 0 1px 2px rgba(0,0,0,0.4);

	backface-visibility: hidden;

	h1 {
		padding: 20px 0;

		body.home  & {
			span {
				display: block;
			}
		}
	}

	@media (min-width: $screen-md) {
		position: relative;

		padding-top: ($navbar-height-md + 20) !important;

		body.home & {
			height: 650px;

			h1 {
				@include transform(translate(-50%, -50%));

				position: absolute;
				top: 50%;
				left: 50%;

				width: 100%;

				font-size: 115px;

				span {
					display: inline-block;

					&:before {
						content: '\00a0\2022\00a0';
					}
					&:first-of-type {
						&:before {
							content: '';
						}
					}
				}
			}
		}

		h1 {
			padding: 0;
		}
	}
	@media (max-width: $screen-xs-max) {
		margin-bottom: 0;
	}
}
