/**
 * Navbar
 */
$navbar-height-md: ($navbar-height * 2);

.navbar {
	border-bottom: 0;

	&:after {
		width: 100%;
		height: 5px;

		background: $brand-primary;
	}
}

.navbar-nav {
	.open {
		.dropdown-menu {
			margin: 10px 0;

			background-color: $dropdown-bg;

			> li {
				> a {
					height: 40px;
					padding: 0;

					line-height: 40px;
				}

				&.active {
					a {
						background-color: transparent !important;
					}
				}
			}
		}
	}
	@media (min-width: $screen-sm) {
		float: right;

		> li {
			> a {
				@include transition(color 0.2s ease-in-out);

				width: 160px;

				text-align: center;

				font-weight: 700;
			}
		}
	}
}

.navbar-brand {
	padding: 5px 15px;
	img {
		max-height: ($navbar-height - 10);
	}
}

.nav-sub {
	// display: none;
}
.nav-sub {
	position: absolute;
	right: 0;
	bottom: -30px;

	display: block;

	padding: 0 10px;

	border-radius: 0 0 5px 5px;
	background: $brand-primary;

	font-size: 24px;
	line-height: 1.3em;

	span {
		display: none;
	}
	a {
		margin: 0 10px;

		color: $body-bg;
	}

	@media (min-width: $screen-md) {
		font-size: 18px;

		span {
			display: inline-block;
		}
	}
}

@media (min-width: $screen-md) {
	.navbar-brand {
		float: left;

		height: $navbar-height-md;
		padding: 5px 15px;
		img {
			max-height: ($navbar-height-md - 20);
		}
	}

	.navbar-connect {
		position: absolute;
		top: 0;
		right: 0;

		.icon {
			@include transition(opacity 0.2s ease-in-out);
			&:hover {
				opacity: 0.8;
			}
		}
	}

	.navbar-icons {
		font-size: 0;
	}

	.navbar-address {
		margin-top: 5px;
	}

	.navbar-phone {
		@include transform(rotate(90deg) translate(50%));

		position: absolute;
		top: -5px;
		right: $navbar-height-md;

		width: ($navbar-height-md - 20);
		margin: 0;
		padding: 0;

		text-align: center;

		color: $brand-danger;

		font-weight: 700;
	}

	.nav-sub {
		@include transform(translateY(100%));

		position: absolute;
		right: 0;
		bottom: 0;

		display: block;

		padding: 5px 10px;

		border-radius: 0 0 5px 5px;
		background: $brand-primary;

		font-size: 18px;
		line-height: 1.3em;

		&,
		a {
			color: $body-bg;
		}
		a {
			margin: 0 5px;
		}
	}
}
