/**
 * Large Screens (HD Desktops)
 */
.text-lg-left {
	text-align: left;
}
.text-lg-center {
	text-align: center;
}
.text-lg-right {
	text-align: right;
}

.navbar {
	width: $container-large-desktop;
}
