/**
 * Medium Screens (SD Desktops)
 */

.text-md-left {text-align: left;}
.text-md-center {text-align: center;}
.text-md-right {text-align: right;}

#page-body {
	padding-top: 0;
}
.jumbotron {
	padding-top: ($navbar-height +  $jumbotron-padding);
}
.navbar {
	margin: 0 auto;
	width: $container-desktop;
}

footer {
	.social-icons {
		float: right;
		a {
			color: $link-color;
			&:hover {
				color: $link-hover-color;
			}
		}
	}
}