/**
 * Medium Screens (SD Desktops)
 */

.text-md-left {
	text-align: left;
}
.text-md-center {
	text-align: center;
}
.text-md-right {
	text-align: right;
}

#page-body {
	padding-top: 0;
}
.jumbotron {
	padding-top: ($navbar-height +  $jumbotron-padding);
}
.navbar {
	width: $container-desktop;
	margin: 0 auto;
}

footer {
	.social-icons {
		float: right;
		a {
			color: $link-color;
			&:hover {
				color: $link-hover-color;
			}
		}
	}
}
